body {
    background-size: cover;
    background-position: bottom center;
}

.home {
    background-image: url(./assets/home/background-home-mobile.jpg);
}

@media (min-width: 35em) {

    body {
        background-position: center center;
    }
    
    .home {
        background-image: url(./assets/home/background-home-tablet.jpg);
    }
}


@media (min-width: 45em) {
    .home {
        background-image: url(./assets/home/background-home-desktop.jpg);
    }
}
